body{
   background-color: lightgray;
}
div.maindiv{
    height: 400px;
    width: 600px;
    background-color: #000000 ;
    margin: 100px auto 0px auto;
    opacity:0.6;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.heading1{
    color: #ffffff;
    font-family: fantasy;
    font-size: 50px;
     margin: 60px;
}
.btn{
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-left: 130px;
    background-color: darkblue;
    color: white;
    font-size: 20px;
}